:root {
    --Very-Dark-Magenta: hsl(300, 43%, 22%);
    --Soft-Pink: hsl(333, 80%, 67%);
    --Dark-Grayish-Magenta: hsl(303, 10%, 53%);
    --Light-Grayish-Magenta: hsl(300, 24%, 96%);
    --White: hsl(0, 0%, 100%);
}

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    font-size: 15px;
    font-family: 'League Spartan', sans-serif;
    background-image: url(images/bg-pattern-bottom-desktop.svg);
    background-repeat: no-repeat;
    background-position: top 20vh right 0vw;
}

main {
    margin: 5rem 7rem;
}

h1 {
    font-size: 3em;
    line-height: .8;
}

img {
    max-width: 100%;
}

/* Composition */

.container-1-flex {
    display: flex;
    justify-content: space-between;
}

.starratings-padding {
    padding: .7rem 1rem;
}

.starratings-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.starratings-margin-top {
    margin-top: 1rem;
}

.starratings-gap {
    gap: 1rem;
}

.starratings-first {
    transform: translateX(-4rem);
}

.starratings-middle {
    transform: translateX(-2rem);
}
 
.container-3-flex {
    display: flex;
}

.review-3-left-margin {
    margin-left: 1rem;
}

.container-3-margin {
    margin-top: 3rem;
}

.container-3 p {
    margin-top: 1rem;
}

.buyer-info {
    gap: 1rem;
}

.review-flex {
    display: flex;
}

.review-padding {
    padding: 2rem 1.5rem;
}

.review-second {
    transform: translateY(1rem);
}

.review-last {
    transform: translateY(2rem);
}

/* Utility */

.container-1-margin-h1 {
    margin-bottom: 2rem;
}
.container-1-color-h1 {
    color: var(--Very-Dark-Magenta);
}

.container-1-color-p {
    color: var(--Dark-Grayish-Magenta);
}

.starratings-bgcolor {
    background-color: var(--Light-Grayish-Magenta);
}

.starratings-border-radius {
    border-radius: .5rem;
}

.starratings-textalign {
    text-align: center;
}

.container-3 img {
    height: 2.3rem;
}

.review-bgcolor {
    background-color: var(--Very-Dark-Magenta);
}

.review-color-name {
    color: var(--White);
}

.review-color-h {
    color: var(--Soft-Pink);
}

.review-color-p {
    color: var(--White);
}

.review-border {
    border-radius: .5rem;
}

.review-border-radius-img {
    border-radius: 3rem;
}

/* Block */

.container-1 {
    width: 350px;
}

/* Exemption */